
<!DOCTYPE html>
<html lang="en">
  <head>
    
    {{>meta-default-partial}}
    <link href="/css/carousel.css" rel="stylesheet">
  </head>
      
      <h1 id = "companyName"> In the Know</h1>  

      {{#each stories}}
        
        <div class = "frame">
          <a href= "#" class="newsItem">
            <div class= "type {{type}}"></div>
            <h3 class = "newsTitle">{{title}}</h3>
          </a>
        </div>
        

      {{/each}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
