
<!DOCTYPE html>
<html lang="en">
  <head>
    
    {{>meta-default-partial}}
    <link href="/css/carousel.css" rel="stylesheet">
  </head>
      
      <h1 id = "companyName"> In the Know</h1>  

      {{#each stories}}
        
        <div class = "frame">
          <a href= "/news/{{uniqueID}}" class="newsItem">
            <div class= "type {{category}}"></div>
            <h3 class = "newsTitle">{{title}}</h3>
          </a>
        </div>
        

      {{/each}}

    {{>scripts}}
  </body>
</html>
