
.newsTitle{
	text-align: center;
	font-size: 1.8em;
}

h4{
	text-align: center;
}

.border{
	width: 100%;
	height: 2px;
	background-color: #111111;
	
}

#currentQuestions{
	display: none;
}

.btn{
	margin: auto;
}