html, body {
	font-family: 'PT Sans Narrow', 'sans-serif';
}

#companyName{
	text-align: center;
	padding-bottom: 10px;
}

.frame {
  width: 100%;
  height: 70px;
  overflow: hidden;
	border-bottom: 1px #e3e3e3 solid;
	background-color: #f8f8f8;
}

a, a:hover{
	text-decoration: none;
}

.questionAdd{
	color: black;
}
h3{
	text-align: center;
}

.newsTitle{
	text-align: center;
	text-decoration: none;
}
.type{
	float: left;
	width: 15px;
	height: 70px;
}

.tech{
	background-color: blue;
}

.stanford, .Stanford{
	background-color: red;
}

.opinions{
	background-color: black;
}

.sports{
	background-color: green;
}
