
.newsTitle{
	text-align: center;
	font-size: 1.8em;

}

.info{
	padding-top: 10px;
	font-family: 'PT Serif', serif;

}

.summary{
	font-size: .8em;
}

a{
	text-decoration: none;
}

.details{
	
	background-color: #f9f9f9;
	padding: 2px;
}

.border{
	width: 100%;
	height: 2px;
	background-color: #111111;
	
}

.tech{
	background-color: #2222ff;
}

.politics{
	background-color: #dd2222;
}

.buttons{
	width: 100%;
	height: 100px;
	padding: 3px;
}

.buttons div{
	font-size: 2em;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
	line-height: 100px;
}

.yes, .no{
	width: 48%;
	height: 100%;
	float: left;
	margin: 1%;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari and Chrome */
}

.yesClicked, .noClicked{
	width: 48%;
	height: 100%;
	float: left;
	margin: 1%;

}


.questions{
	margin-bottom: 3px;
}

.yes{
	background-color: #05E8D9;
}

.no{
	background-color: #E80514;
}

.yesClicked{
	background-color: #05E8D9;
}

.noClicked{
	background-color: #E80514;
}

.optionText{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 1.6em;
}

.hiddenText{
	display: none;
}

.questionTitle{
	font-size: 200%;
	font-weight: bold;
}
.detail{
	padding-bottom: 10px;
}
.question{
	padding-top: 20px;
}
.addQuestion{
	padding-top: 10px;
}